@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("./_components/MainCont/2-Scales/scales.scss");  */

:root {
  --backGround: rgb(255, 236, 200);
  --secondBackGround: rgb(254, 211, 129);
  --lightOrange: #f67c1e;
  --lightYellow: #fdb94d;
  --borderRadius:0.8rem;
}

.formParent{
  background-image: url("../../public/login-pic.jpg");
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  gap: 0.5rem;
  background-size: cover;
  padding: 1rem;
  background-repeat: no-repeat;
}
@media (max-width:767px){
  .formParent{
    background-position-x: -161px;
  }
}

.formParent .left-details{
  background-size: cover;
  position: relative;
  z-index: 1;
}
.formParent .left-details::before{
  content: "";
  background-image: url(../../public//background.png);
  position: absolute;
  background-size:cover ;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}

.formParent form{
  box-shadow: 0px 1px 8px 0 black;
  background: linear-gradient(to bottom, transparent 80%, #ffffffb0);
  backdrop-filter: blur(13px);
  border: 1px solid white;
  border-top-right-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
  padding: 1.7rem 1.5rem;
  flex-basis: 30%;
  animation: open 0.8s forwards;
}

.passIcon{
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}
.border-right{ 
  /*this class used in formValidation*/
  border-left: 5px solid #fb923c
}

.attract{
  animation: attract 1.2s alternate infinite linear;
}

/* gradient_bar */
.gradient-bar{
  background: linear-gradient(to right, rgb(255, 68, 68),rgb(255, 189, 66),yellow,rgb(71, 255, 71));
}

.timer{
  /* box-shadow: 0px 7px 15px 4px #0000008c; */
}
.timer div:nth-child(1){
  box-shadow: 0px 7px 15px 4px #0000008c inset;
}
.queSection{
  box-shadow: inset 0 0 19px 14px lightgray
}

aside a{
  z-index: 1;
}
aside a::before{
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%) rotate(45deg);
  width: 20px;
  height: 20px;
  background-color:inherit;
  z-index: -1;
}

@media (max-width:767px){
  aside a::before{
    display: none;
  }
}
.flagged{
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.flagged::before{
  content: "";
  position: absolute;
  z-index: -1;
  background: linear-gradient(to right, transparent, var(--lightYellow));
  top: 0;
  width: 100%;
  height: 100%;
  animation: flagging 0.5s forwards;
}

@keyframes open{
  from{opacity: 0;}
  to{opacity: 1;}
}

@keyframes attract{
  from{color: white;}
  to{color:rgba(255, 255, 0, 0.973)}
}

@keyframes flagging{
  from{ right: -100%;}
  to{right: 0;}
}



  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }